@import 'src/frontend/styles/variables';
@import 'src/frontend/styles/colors';
@import 'src/frontend/styles/designMixins';

.contacts-block {
  display: grid;
  grid-template-columns: 488px 585px;
  justify-content: space-between;
  padding: 48px 0;
  width: $block-max-width;

  &-head {
    &-title,
    &-topic {
      justify-content: left;
    }

    &-topic {
      position: relative;
      z-index: 1;

      @include orange-circle;

      &::before {
        top: -4px;
        left: -4px;
      }
    }
  }

  &-socials {
    margin: 16px 0;
  }

  &-form {
    display: grid;
    grid-template: 45px 190px 45px / repeat(2, 280px);
    justify-content: space-between;
    row-gap: 32px;
    position: relative;
    margin-top: 22px;
  }

  &-input {
    width: 100%;
    height: 100%;
    font-size: 12px;
    padding: 0 8px;
    color: $black-color;

    &-wrapper {
      position: relative;
    }
  }

  &-label {
    position: absolute;
    top: -8px;
    left: 12px;
    height: 18px;
    padding: 0 8px;
    font-size: 12px;
    background-color: $orange-color;
    font-weight: 600;
  }

  &-textarea {
    width: 100%;
    height: 100%;
    resize: none;
    font-size: 12px;
    color: $black-color;
    padding: 9px;

    &-wrapper {
      position: relative;
      grid-column: 1/3;
    }
  }
}