@import '../../styles/textMixins';
@import 'src/frontend/styles/colors';
@import 'src/frontend/styles/variables';

.button {
  border: none;
  padding: 0;
  transition: background-color $animation-duration linear;

  &-content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 140px;
    margin: 12px 18px;
  }

  &-text {
    @include l-size-mixin;

    font-weight: 700;

    &-secondary {
      text-shadow: 0 0 20px $color-white;

      &:hover {
        text-shadow: 0 0 10px $color-white;

      }
    }

    &-primary {
      text-shadow: 0 0 20px $color-white;

      &:hover {
        text-shadow: 0 0 10px $color-white;
      }
    }
  }

  &:disabled {
    cursor: not-allowed;
  }

  &:not([disabled]) {
    cursor: pointer;
  }

  &-primary {
    outline: none;
    background-color: $color-orange;

    &:not([disabled]):hover {
      background-color: $color-black;
    }
  }

  &-secondary {
    outline: none;
    background-color: transparent;

    &:not([disabled]):hover {
      background-color: $color-black;
    }

    &:global(.button-text) {
      box-shadow: inset 0 0 0 2px $color-orange;
    }
  }

  &:hover .button-text {
      color: $color-white;
    }
}
