@import '../../styles/textMixins';
@import 'src/frontend/styles/colors';
@import 'src/frontend/styles/variables';

.button {
  border: none;
  padding: 0;
  transition: background-color $animation-duration linear;

  &-content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 140px;
    margin: 12px 18px;
  }

  &-text {
    @include m-size-mixin;
    font-weight: 600;
  }

  &:disabled {
    cursor: not-allowed;
  }

  &:not([disabled]) {
    cursor: pointer;
  }

  &-primary {
    outline: none;
    background-color: $orange-text-color;

    &:not([disabled]):hover {
      background-color: $black-text-color;
    }
  }

  &:hover .button-text {
      color: $white-text-color;
    }
}
