@import '../../styles/colors';
@import '../../styles/variables';
@import '../../styles/designMixins';

.main-block {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 20px 0;
  background: url('../../../../public/images/main.jpg') no-repeat 50%/cover;
  z-index: $z-index-block;

  &-wrapper {
    position: absolute;
    width: $block-max-width;
    margin: 0 auto;
    left: 15%;
    bottom: 50%;
  }

  &-description {
    margin-bottom: 12px;
    color: $secondary-text-color !important;

    @include orange-circle;

    &::before {
      left: -3px;
      top: -3px;
    }
  }

  &-title {
    margin-bottom: 36px;
    color: $secondary-text-color;
    width: 600px;
  }
}
