@import '../../styles/colors';
@import '../../styles/variables';
@import '../../styles/designMixins';

.main-block {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: url('../../../../public/images/main.jpg') no-repeat 50%/cover;
  z-index: $z-index-component;

  &-select {
    position: absolute;
    top: 15px;
    right: 16px;
  }

  &-wrapper {
    position: absolute;
    left: 15%;
    top: 25%;
    padding-right: 20px;
  }

  &-description {
    margin-bottom: 12px;
    color: $color-white !important;

    @include orange-circle;

    &::before {
      left: -3px;
      top: -3px;
    }
  }

  &-title {
    font-size: 30px;
    line-height: 35px;
    margin-bottom: 20px;
    color: $color-white;
  }

  &-button {
    margin-right: 30px;
  }
}

@media (min-width: $desktop-min-width) {
  .main-block {
    &-wrapper {
      padding-right: 0;
    }

    &-title {
      font-size: 38px;
      line-height: 40px;
      margin-bottom: 30px;
    }
  }
}