@import 'src/frontend/styles/colors';
@import 'src/frontend/styles/variables';

.hamburger-menu {
  position: absolute;
  right: 0;
  top: 0;

  &-button {
    position: absolute;
    top: 15px;
    right: 10px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    cursor: pointer;
    transition: $animation-duration all linear;
  }

  span {
    display: block;
    width: 30px;
    height: 3px;
    background-color: $color-hamburger-menu;
  }

  &-long {
    width: 36px !important;
  }

  &-image {
    position: absolute;
    transition: $animation-duration all linear;
  }
}

@media (min-width: $mobile-l-min-width) {
  .hamburger-menu {
    &-button {
      top: 28px;
      right: 15px;
    }

    &-image {
      top: 52px;
      right: 21px;
      height: 18px;
    }
  }
}

@media (min-width: $tablet-min-width) {
  .hamburger-menu {
    &-button {
      top: 20px;
      right: 20px;
    }

    &-image {
      top: 45px;
      right: 24px;
      height: 20px
    }
  }
}