@import 'src/frontend/styles/colors';

nav {
  display: flex;
  position: absolute;
  padding: 20px 32px 0 0;
  right: 0;
  top: 0;
}

.hamburger-menu-button {
  width: 30px;
  height: 30px;
  position: relative;
  cursor: pointer;

  &::before,
  &::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: $color-hamburger-menu;
  }

  &::before {
    top: 5px
  }

  span {
    position: absolute;
    top: 44%;
    width: 36px;
    background-color: $color-hamburger-menu;
    height: 3px;
    transform: rotate(360deg);
  }

  &::after {
    bottom: 5px;
  }
}
