@import '../styles/variables';

.page-wrapper {
  display: flex;
  justify-content: center;
  background-color: gray;
}

.page-content {
  display: inherit;
  flex-direction: column;
  align-items: center;
  position: relative;
  max-width: $desktop-max-width;
  margin: 0 auto;
}
