@import "src/frontend/styles/colors";
@import "src/frontend/styles/variables";

.aside {
  position: fixed;
  top: 250px;
  left: 30px;
  height: 340px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: $z-index-aside;

  &-divider {
    width: 2px;
    height: 70px;
    background-color: $color-white;
  }

  &-title {
    transform: rotate(-90deg) translate(-30%,-260%);
    color: $color-white;
    width: 150px;
    pointer-events: none;

    &-wrapper {
      height: 150px;
      width: 25px;
    }
  }

  &-social {
    transform: rotate(-90deg);
    margin: 0 0 18px 0;
  }
}