@import '../../styles/textMixins';
@import '../../styles/colors';

.text {
  display: flex;
  word-break: break-word;
  color: $primary-text-color;

  &-l {
    @include l-size-mixin;
  }

  &-m {
    @include m-size-mixin;
  }

  &-s {
    @include s-size-mixin;
  }

  &-xs {
    @include xs-size-mixin;
  }
}
