@import 'src/frontend/styles/colors';
@import 'src/frontend/styles/variables';

.about-block {
  display: flex;
  flex-direction: row;
  width: $block-max-width;
  padding: 96px 0 48px;

  &-content {
    padding: 16px 32px;
    width: 670px;
  }

  &-topic {

  }

  &-title {
    justify-content: left !important;
  }

  &-description {
    margin: 12px 0;
    color: $secondary-text-color;
  }

  &-cards-wrapper {
    display: flex;
    gap: 40px 20px;
  }

  &-card {
    width: 200px;
  }
}
