.block {
    border: 5px solid gray;
    max-width: 800px;
    height: 800px;
    margin: 0 auto;
}

.block div {
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    line-height: 50px;
}

.block-1 {
    background-color: brown;
}

.block-2 {
    background-color: bisque;
}

.block-3 {
    background-color: aquamarine;
}