@import 'src/frontend/styles/colors';

.head {
  &-topic {
    justify-content: center;
    font-weight: 700;
    color: $secondary-text-color;
    margin-bottom: 8px;
  }

  &-title {
    justify-content: center;
    color: $secondary-text-color;
  }
}
