@import "src/frontend/styles/colors";
@import "src/frontend/styles/variables";
@import "src/frontend/styles/designMixins";

.portfolio-block {
  padding: 48px 20px;

  &-topic {
    position: relative;
    z-index: $z-index-component;
    margin: 0 0 12px 0;

    @include orange-circle;

    &::before {
      top: -6px;
    }
  }

  &-divider {
    margin: 24px auto 0 auto;
  }

  &-works {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px 30px;
    margin: 48px 0 0;
  }

  &-work {
    border: 5px solid #faebd7;
    filter: grayscale(60%);
    transform: scale(1);
    transition: $animation-duration all linear;

    &-image {
      width: 100%;
      max-width: 545px;
    }

    &:hover {
      filter: grayscale(0);
      transform: scale(1.05);
    }
  }
}

@media (min-width: $tablet-min-width) {
  .portfolio-block {
    padding: 64px 0;
  }
}
