@import 'colors';
@import 'variables';

@mixin start-orange-circle {
  &::before {
    content: '';
    position: absolute;
    width: 36px;
    height: 36px;
    border-radius: 100%;
    background: $orange-text-color;
    z-index: $z-index-orange-circle;
    left: 0;
    bottom: 84%;
  }
}

@mixin middle-orange-circle {
  &::before {
    content: '';
    position: absolute;
    width: 36px;
    height: 36px;
    border-radius: 100%;
    background: $orange-text-color;
    z-index: $z-index-orange-circle;
    left: 47%;
    top: -5px;
  }
}