@import 'colors';
@import 'variables';

@mixin orange-circle {
  &::before {
    content: '';
    position: absolute;
    width: 36px;
    height: 36px;
    border-radius: 100%;
    background: $color-orange;
    z-index: $z-index-orange-circle;
  }
}
