@import 'colors';
@import 'variables';

@mixin orange-circle {
  &:before {
    content: '';
    position: absolute;
    width: 36px;
    height: 36px;
    border-radius: 100%;
    background: $orange-text-color;
    z-index: $z-index-orange-circle;
    left: 0;
    bottom: 84%;
  }
}
