$desktop-min-width: 1200px;
$tablet-min-width: 768px;
$mobile-l-min-width: 425px;
$mobile-min-width: 320px;

$block-max-width: 1140px;

$animation-duration: 0.2s;

$divider-width: 60px;
$divider-height: 3px;

$z-index-overlay: 101;
$z-index-aside: 100;
$z-index-component: 1;
$z-index-orange-circle: -1;
