@import 'src/frontend/styles/colors';
@import 'src/frontend/styles/designMixins';

.card {
  height: auto;

  &-header {
    position: relative;
  }

  &-icon {
    position: relative;
    left: -9px;
    top: 8px;

    &-wrapper {
      position: absolute;
      left: -10px;
      z-index: $z-index-component;

      @include orange-circle;

      &::before {
        right: 4px;
        top: 4px;
      }
    }
  }

  &-image {
    &-wrapper {
      height: 120px;
    }
  }

  &-title {
    font-weight: 700;
  }

  &-description {
    margin: 4px 0 0;
  }
}
