@import 'src/frontend/styles/colors';

.card {
  height: auto;

  &-image {

  }

  &-title,
  &-topic,
  &-description {
    color: $secondary-text-color;
  }

  &-title {
    font-weight: 700;
  }

  &-description {
    margin: 4px 0 0;
  }
}
